<html>
 <body>
  <h1 align="center"> Hello from chef managed server! I love M! </h1>
  <h1 align="center"> My VPC IP is <%= node["ipaddress"] %></h1>
  <h1 align="center">I love <%= @food %></h1>
 </body>
</html>
